h1 {
  margin-bottom: -1.5rem !important;
}

h6{
  margin-bottom: -4px;
  margin-top: 112px;
  font-size: 30px;
}

.btn{
  font-size:15px;
  width: 100px;
}

.list-group-item {
  padding: 0.75rem 0.25rem !important;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: black;
}

a {
  transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out;
}

a:focus,
a:hover {
  outline: 0 none;
  text-decoration: none;
}

h4 {
  font-size: 30px;
}

/* fuente */
@font-face {
  font-family: Rainbow;
  src: url(../fonts/Rainbow.ttf);
}
@font-face {
  font-family: Spinnenkop;
  src: url(../fonts/Spinnenkop.otf);
}
@import url("https://fonts.googleapis.com/css2?family=Gruppo&family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2? family = Roboto & display = swap");
/* Estilos para eliminar flotantes */
.clearfix {
  clear: both;
  float: none;
}

/* Estilos del carousel */
.carousel {
  max-width: 100%;
  margin-top: 97px;
  position: relative;
}
.contenedor-carrusel {
  position: relative;
  width: 90%;
  margin-left: 90px;
}
.carousel__anterior,
.carousel__siguiente {
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  border: none;
  top: calc(50% - 35px);
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  background: none;
  color: #000;
  opacity: 50%;
}
.carousel__anterior:hover,
.carousel__siguiente:hover {
  opacity: 100%;
}
.carousel__anterior {
  left: -40px;
}
.carousel__siguiente {
  right: -40px;
}
.carousel__lista {
  overflow: hidden;
}
.carousel__indicadores .glider-dot {
  display: block;
  width: 30px;
  height: 4px;
  background: #000;
  opacity: 0.2;
  border-radius: 0;
}
.carousel__indicadores .glider-dot:hover {
  opacity: 0.5;
}
.carousel__indicadores .glider-dot:active {
  opacity: 1;
}
.glider-slide img {
  width: 100% !important;
}

/* Input fields */
.form-control {
  padding-left: 10px;
  border: 0;
  border-bottom: 1px solid #212121;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  outline: 0 none transparent;
  -webkit-appearance: none;
}

textarea {
  margin-top: 40px;
  min-height: 200px;
  resize: none;
}

.form-control:focus {
  box-shadow: none;
  border-bottom-color: #e1e1e1;
}

::-moz-placeholder,
::-webkit-input-placeholder {
  font-size: 16px;
}

.img-res {
  display: block;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.visible-xxs {
  display: none;
}

.gray-bg {
  background-color: #e1e1e1;
}

.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 0, 255, 0.07);
  z-index: 5;
}

.site-logo img {
  padding-bottom: 2px;
  margin: -32px 0px 0px -248px;
}

.bg-light {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
  background: rgb(228, 147, 228) !important;
  height: 77px;
}
.navbar-toggler {
  background-color: white !important;
}
.navbar-nav {
  font-size: 16px;
  margin-top: 8px;
  background-color: rgb(228, 147, 228);
  color: #fff;
}
.navbar-collapse {
  text-align: center;
}

.navbar-nav > li > a {
  padding: 5px 0;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  margin-left: 1037px;
}

.navbar-nav > li + li > a {
  margin-left: 35px;
}
.navbar-nav > li > a:hover {
  color: #193061;
}

.nav > li > a:focus {
  background-color: transparent;
  border-bottom: 2px solid #212121;
}

.navbar-light .navbar-nav .nav-link {
  color: #000 !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
  margin-block: -5px !important;
}
.hero-contenedor {
  width: 100%;
}

.hero .container {
  position: relative;
  height: 100%;
  margin-top: 19px;
}

.hero .col-md-6:first-child {
  position: absolute;
  top: 35%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 2;
  color: white;
  margin-bottom: 500px;
}

.hero .col-md-6:last-child {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-left: 363px;
  margin-top: -254px;
}

.hero h1 {
  font-size: 46px;
  font-weight: 700;
  margin: 60px 0 15px;
  text-transform: uppercase;
}
.hero img {
  width: 90%;
  margin-top: 119px;
  margin-left: 70px;
}

.job-title {
  font-size: 22px;
  margin-bottom: 30px;
  line-height: 1;
}

.site-main {
  position: relative;
  margin-bottom: 100px;
  background-color: #fff;
  z-index: 1;
}

.contenedor1 h2 {
  text-align: center;
}

.site-section h2,
.site-section h3,
.contenedor1 h2 {
  font-size: 36px;
  margin: 0;
  text-transform: uppercase;
}

.img-lines {
  margin: 15px 0 40px;
}
.img-logo {
  width: 20%;
  margin-left: 126px;
}

.site-section p {
  margin-bottom: -7px;
}

.section-skills {
  padding-bottom: 120px;
}

.skill + .skill {
  margin-top: 50px;
}

.skill h4 {
  font-size: 24px;
  text-transform: uppercase;
  margin: 0 0 15px;
}

.progress {
  height: 15px;
  margin-bottom: 0;
  border-radius: 0;
  background-color: #dfdfdf;
  box-shadow: none;
}

.progress-bar {
  background-color: #212121;
}

.section-services {
  position: relative;
  margin-top: -90px;
}

.section-services:before {
  content: "";

  width: 100%;
  height: 400px;
  position: absolute;
  left: 0;
  top: 0;
}

.overlay:after {
  content: "";
  width: 100%;
  height: 400px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  z-index: 0;
}

.section-services .container {
  padding: 120px 100px;
  position: relative;
  background-color: #fff;
  box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.service h4 {
  margin: 25px 0;
  font-size: 24px;
  font-weight: 700;
}

.service p {
  color: #000;
  margin-bottom: 0;
}
.service img {
  width: 70px;
  height: 70px;
}

.section-portfolio {
  background: rgba(255, 0, 255, 0.07);
  padding-bottom: 120px;
}

.portfolio-item {
  height: 280px;
  margin-bottom: 30px;
  position: relative;
}

.section-portfolio .col-md-4:nth-last-child(-n + 3) .portfolio-item {
  margin-bottom: 0;
}

.portfolio-item:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  -ms-transition: background-color 0.25s ease-in-out;
}

.portfolio-item:hover:before {
  background-color: rgba(33, 33, 33, 0.6);
}

.portfolio-item-info {
  position: absolute;
  top: 150px;
  left: 0px;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
}

.portfolio-item:hover .portfolio-item-info {
  left: 50px;
  opacity: 1;
}

.portfolio-item-info h4 {
  margin: 0 0 20px -37px;
  font-weight: 700;
  color: #fff;
}

.portfolio-item-info a {
  padding: 8px 9px 6px;
  font-size: 15px;
  border: 1px solid #fff;
  border-radius: 50px;
  color: #fff;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out,
    background-color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  margin-left: -12px;
}

.portfolio-item-info a:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal */
.modal {
  z-index: 9999;
}

.modal-content {
  border-radius: 0;
  box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.2);
}

.modal-header {
  position: relative;
  padding: 0;
  height: 500px;
}

.modal-header .close {
  position: absolute;
  right: 0;
  padding: 10px 11px;
  margin-top: 0;
  background-color: #fff;
  font-size: 16px;
  color: #212121;
  border-left: 1px solid #212121;
  border-bottom: 1px solid #212121;
  opacity: 1;
  transition: box-shadow 0.25s ease-in-out;
  -moz-transition: box-shadow 0.25s ease-in-out;
  -webkit-transition: box-shadow 0.25s ease-in-out;
  -o-transition: box-shadow 0.25s ease-in-out;
  -ms-transition: box-shadow 0.25s ease-in-out;
}

.modal-header .close:hover {
  box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.2);
}

.modal-body h4 {
  font-weight: 700;
  margin-bottom: -23px;
}

.modal-footer {
  text-align: center;
}

/* Section: Counters */
.section-counters {
  background: url(../img/portada.jpg) no-repeat fixed center / cover;
  width: 100%;
  padding: 100px 0;
  position: relative;
}

.section-counters:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.section-counters h4 {
  color: #fff;
  margin: 25px 0 0;
}

.site-section p.counter {
  font-size: 100px;
  font-weight: 300;
  color: #fff;
  margin: 0;
  line-height: 0.8;
}

/* Section: Form*/
.section-form {
  padding-bottom: 120px;
}

.wrapper > .inner {
  margin: 0 auto;
  width: 65em;
}
.wrapper {
  margin-bottom: 50px;
}

/* FOOTER
================================================== */
.site-footer {
  position: fixed;
  bottom: 0;
  padding: 30px 0;
  width: 100%;
  background-color: #212121;
  z-index: -1;
}

.icon {
  line-height: 40px;
  padding: 9px 11px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
}

.icon + .icon {
  margin-left: 5px;
}

.icon i:before {
  margin: 0;
}

.icon:hover {
  background-color: #fff;
}

.site-footer a {
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out,
    background-color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

a.twitter-bg:hover {
  color: #55acee;
}
a.facebook-bg:hover {
  color: #3b5998;
}
a.what:hover {
  color: #31af74;
}
a.instagram-bg:hover {
  color: brown;
}
a.icon-up-bg:hover {
  color: #212121;
}

.copyright {
  margin-bottom: 0;
  line-height: 40px;
  color: #fff;
  text-align: center;
}

/*otros*/

/* Sections Header
-------------------------------*/

.section-header {
  margin-bottom: 30px;
}

.section-header h2 {
  font-size: 32px;
  color: #521063;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  padding-bottom: 20px;
}

.section-header h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #999;
  bottom: 0;
  left: 0;
}

.section-header p {
  padding: 0;
  margin: 0;
}

/* Contact Section
--------------------------------*/

#contact {
  padding: 30px 0;
  background: rgba(255, 0, 255, 0.07);
}

#contact .contact-info {
  margin-bottom: 20px;
  text-align: center;
}

#contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #91dcff;
}

#contact .contact-info address,
#contact .contact-info p {
  margin-bottom: 0;
  color: #000;
}

#contact .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}

#contact .contact-info a {
  color: #000;
}

#contact .contact-info a:hover {
  color: #2e647c;
}

#contact .contact-address,
#contact .contact-phone,
#contact .contact-email {
  margin-bottom: 20px;
}

#contact #google-map {
  height: 290px;
  margin-bottom: 20px;
}

#contact .form #sendmessage {
  color: #91dcff;
  border: 1px solid #91dcff;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show,
#contact .form #errormessage.show,
#contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input,
#contact .form textarea {
  padding: 10px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
}

#contact .form button[type="submit"] {
  background: #50d8af;
  border: 0;
  border-radius: 3px;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

#contact .form button[type="submit"]:hover {
  background: #13194e;
}

.col-md-offset-3 {
  margin-bottom: -63px !important;
}
/*carousel*/
.center-carousel {
  width: 100% !important;
}
.center-carousel .carousel-inner {
  width: 50%;
  margin-left: 24%;
}
.textoArticulos p{
  font-size: 15px;
}

.cards {
  width: 80%;
  margin-left: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 11em;
  margin-left: 200px;
}

.card {
  width: 21%;
  text-align: center;

  box-shadow: 0px 0px 4px 0 rgba(52, 73, 94, 0.849);
  margin-bottom: 20px;
  margin-left: 10px;
}
.card h5{
  font-size: 20px !important;
}

.cards img {
  width: 70px;
  height: 70px;
  margin-left: 181px;
  margin-bottom: 41px;
}

/*2da opcion*/
.contenedor1 {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin-bottom: 66px;
  margin-left: 444px;
  margin-top: -80px;
}

.titulo {
  color: #112653;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

.header-static {
  width: 100%;
  height: 530px;
  background: #3c66c0;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(
      to right,
      hsla(234, 68%, 31%, 0.459),
      hsla(241, 60%, 53%, 0.664)
    ),
    url(../img/ventas.jpg);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
      to right,
      hsla(251, 60%, 17%, 0.459),
      hsla(229, 43%, 33%, 0.664)
    ),
    url(../img/ventas.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  margin-top: 85px;
}

.header-static .textos-header {
  display: flex;
  height: 130px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.textos-header h1 {
  font-family: Rainbow;
  font-size: 121px;
  color: #fff;
  margin-top: 470px;
}

.textos-header h2 {
  font-family: Spinnenkop;
  font-size: 40px;
  font-weight: 300;
  color: #fff;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* About us */

.contenedor1-sobre-nosotros {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}

.imagen-about-us {
  width: 48%;
}

.sobre-nosotros .contenido-textos {
  width: 48%;
}

.contenido-textos h3 {
  margin-bottom: 15px;
}

.contenido-textos h3 span {
  background: #193061;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 2px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  margin-right: 5px;
}

.contenido-textos p {
  padding: 0px 0px 30px 15px;
  font-weight: 300;
  text-align: justify;
}

/* Galeria */

.portafolio {
  background: #f2f2f2;
}

.galeria-port {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imagen-port {
  width: 24%;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.imagen-port > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hover-galeria {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background: hsla(273, 91%, 27%, 0.7);
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hover-galeria img {
  width: 50px;
}

.hover-galeria p {
  color: #fff;
}

.imagen-port:hover .hover-galeria {
  transform: scale(1);
}

/*  Our team */

.about-services {
  background: #f2f2f2;
  padding-bottom: 30px;
}

.servicio-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.servicio-ind {
  width: 28%;
  text-align: center;
}

.servicio-ind img {
  width: 90%;
}

.servicio-ind h3 {
  margin: 10px 0;
}

.servicio-ind p {
  font-weight: 300;
  text-align: justify;
}

.content-foo {
  text-align: center;
}

.content-foo h4 {
  color: #fff;
  border-bottom: 3px solid #af20d3;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.content-foo p {
  color: #ccc;
}

.titulo-final {
  text-align: center;
  font-size: 24px;
  margin: 20px 0 0 0;
  color: #9e9797;
}
